body {
  background-color: #f4f4f4;
  font-family: 'Cutive Mono', monospace;
}

/* Navigation */
.navbar {
  font-family: 'Special Elite', cursive;
  background-color: #1A1A1D;
}

.navbar > a{
  margin-left:75px;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:50px;
}

/* Header */
.header{
  color: #ffffff;
  height: 90vh;
  background-image: url("../IMG/im_1.jpeg");
  background-color: rgb(156, 168, 170);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: scroll;
}

.header-content{
  position: absolute;
  transform: translate(-50%, -40%);
  left: 50%;
  top: 50%;
  text-align: left;
}

/* Horizontal Line */
hr {
  width: 75%;
}

/* Social media icons section */
#social {
  display: flex;
  justify-content: center;
}

#social ul{
  justify-content: center;
}

#social li{
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
  list-style: none;
}

#social li a{
  color: black;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

#social li a:hover{
  color: #b9b9b9; 
}